<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>modify</title>
</head>

<body>
<div layout:fragment="content">

    <div class="col">
        <div class="card">
            <div class="card-header">
                Modify
            </div>
            <div class="card-body">
                <h5 class="card-title">Board Modify</h5>
                <div class="card-body">

                    <form action="/board/modify" method="post" id="frmModify" class="form-group">
                        <input type="hidden" name="bno" class="form-control" th:value="${dto.bno}">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" name="title" class="form-control" placeholder="Title"
                                   th:value="${dto.title}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea class="form-control col-sm-5" rows="5"
                                      name="content">[[${dto.content}]]</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">writer</span>
                            <input type="text" name="writer" class="form-control" th:value="${dto.writer}">
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary btnModify">Modify</button>
                                <!--                                <a th:href="|@{/board/remove}?bno=${dto.bno}|" class="btn btn-danger">Remove</a>-->
                                <!--                                <a th:href="|@{/board/list}?${pageRequestDTO.link}|" class="btn btn-secondary">List</a>-->
                                <button type="button" class="btn btn-secondary btnList">List</button>
                                <button type="button" class="btn btn-danger btnRemove">Remove</button>
                            </div>
                        </div>
                    </form>
                </div><!-- end card body -->
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->

<script layout:fragment="script" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        /////
        //1. 유효성검사
        /////
        const errors = [[${error}]]
        console.log(errors)

        let errorMsg = '';

        if(errors){
            for(let i=0; i<errors.length; i++){
                errorMsg += `${errors[i].field}은(는) ${errors[i].defaultMessage }\n`
            }
            alert(errorMsg);
        }

        /////
        /// 2. 버튼링크
        /////

        const frmModify = document.querySelector('#frmModify');
        const link = [[${pageRequestDTO.link}]]

        document.querySelector('.btnModify').addEventListener('click', function (e) {
            e.preventDefault();
            frmModify.action = `/board/modify${link}`;
            frmModify.method = 'post';
            frmModify.submit();
        })

        document.querySelector('.btnList').addEventListener('click', function (e) {
            e.preventDefault();
        })
        const btnRemove = document.querySelector(".btnRemove");

        btnRemove.addEventListener("click", function (e) {
            e.preventDefault();
            const bno = [[${dto.bno}]]

            frmModify.action = `/board/remove${link}&bno=${bno}`;
            frmModify.method = 'post';
            frmModify.submit();
        })
    })
</script>
</body>
</html>